@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  padding: 0%;
  margin: 0%;
  font-family: 'Roboto', sans-serif;
}

.about{
  background-color: crimson;
  width: 100%;
  min-height: 100vh;
}

.contact{
  background-color: slateblue;
  width: 100%;
  min-height: 100vh;
}

footer{
  background-color: black;
  color: wheat;
  min-height: 5rem;
  width: 100%;
}

.user{
  background-color: rgb(40, 211, 126);
  width: 100%;
  min-height: 100vh;
}